.header {
    font-size: 55px;
    color: blue;
    font-family: "Roboto", sans-serif;
}
.content-header {
    text-align: center;
    font-size: 35px;
    padding: 15px;
    font-family: "Roboto", sans-serif;
}
.menu-header {
    font-size: 25px;
    padding: 15px;
    font-family: "Roboto", sans-serif;
}

.float-image {
    float: left;
    margin: 0 10px 0 0;
}

.style-back-container {
    position: relative;
}

.style-back {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("https://png.klev.club/uploads/posts/2024-03/thumbs/png-klev-club-p-kapibara-png-26.png");
    background-repeat: repeat-y;
    background-size: 200px;
    background-position: right;
    opacity: .5;
}